<!DOCTYPE html>
<html lang="en">
<head>
<title>커뮤니글쓰기</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../assets/css/main.css" />
<!--bootlink-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<noscript>
	<link rel="stylesheet" href="assets/css/noscript.css" />
</noscript>
</head>
<body>
	<div id="page-wrapper" style="background: #e7e7ec; color: #0E0F37;">

		<div th:replace="/headerDetail :: header"></div>
		<!--글쓰기 기본 틀-->
		<div class="container" style="width: 60%">
			<div class="wrapper style1 mt-5 rounded-3">
				<div class="content">
					<br>
			<!--form 작성되야함-->
			<form action="write/save" method="post" enctype="multipart/form-data">
				<h2 align="center">게시판 글쓰기</h2>
				<div class="form-group row fontArea"
					style="margin: 50px 50px 30px 50px">
					<label for="title" class="col-sm-2 col-form-label fw-bolder">제목</label>
					<input type="text" class="form-control" id="title"
						placeholder="제목을 입력하세요" name="comm_title"
						style="max-width: 800px; float: left; margin-Bottom: 30px">
					<label for="writer" class="col-sm-2 col-form-label fw-bolder">작성자</label>
					<input id="writer" class="form-control" th:value="${session.loginMember.user_nick}"
						name="user_nick" readonly style="max-width: 800px; float: left; margin-Bottom: 30px"> <input type="hidden"
						th:value="${session.loginMember.user_id}"
						th:placeholder="${session.loginMember.user_id}" name="user_id">
				</div>
				<br>
				<div class="form-group" style="margin: 10px 50px 30px 50px">
					<label for="content" class="col-sm-2 col-form-label fw-bolder">내용</label>
					<br> <br>
					<textarea class="form-control" id="content" rows="15"
						name="comm_content" placeholder="내용을 입력하세요"></textarea>
				</div>
				<div class="form-group" style="margin: 50px 50px 10px 50px">
					<label for="image" class="col-sm-2 col-form-label fw-bolder">이미지
						업로드</label> <input type="file" class="form-control-file" id="image"
						name="image">
				</div>

				<br>
				<div align="center" style="margin: 50px 50px 30px 50px">
					<button type="submit" class="btn btn-secondary">작성 완료</button>
					<a href="/shake/community" type="button"
						class="btn btn-outline-secondary">돌아가기</a>
				</div>
			</form>
					
				</div>
			</div>
		</div>

		<br> <br>
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row"></div>
				<hr />
				<div class="row">
					<div class="col-12">

						<!-- Contact -->
						<section class="contact">
							<header>
								<h3>Nisl turpis nascetur interdum?</h3>
							</header>
							<p>Urna nisl non quis interdum mus ornare ridiculus egestas
								ridiculus lobortis vivamus tempor aliquet.</p>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span
										class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span
										class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span
										class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-pinterest"><span
										class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span
										class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands fa-linkedin-in"><span
										class="label">Linkedin</span></a></li>
							</ul>
						</section>

						<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Smhrd.스마트 인재 개발원</li>
								<li>Design: <a href="http://html5up.net">자일리톨</a></li>
							</ul>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<!--bootscripts-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>
</html>