<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Footer -->
	<footer>
		<div id="footer">
			<div class="container">
				<div class="row"></div>
		s				<!-- Contact -->
						<section class="contact">
						<header>
							<h3>SHAKER</h3>
						</header>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span
										class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span
										class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span
										class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-pinterest"><span
										class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span
										class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands fa-linkedin-in"><span
										class="label">Linkedin</span></a></li>
							</ul>
						</section>

						<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>사이트명 : SHAKE    |   개인정보책임자 : 조정흠</li><br><br>
								<li>&copy;. 자일리톨. All rights reserved</li>
								<li>Design: <a href="#">자일리톨</a></li>
							</ul>
						</div>

					</div>
		</div>
	</footer>
</body>
</html>